.container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    color: white;
    margin-bottom: 50px;
  }
}

.body {
  display: flex;
  flex-direction: column;
  a {
    color: white;
    padding: 8px 0;
    cursor: pointer;

  }
}

.bottom {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  margin-top: 50px;
  a {
    cursor: pointer;
  }
}