.container {
  color: white;
  h1 {
    color: white;
    margin-bottom: 50px;
  }
}

.body {
  display: flex;
  flex-direction: column;
  a {
    color: white;
    padding: 8px 0;
  }
}

.bottom {

}