.container {
  position: absolute;
  z-index: 2;
  background-color: #9d2235;
  width: 100%;
}

.top {

}

.bottom {
  display: flex;
  justify-content: space-around;
  a {
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    img {
      padding-left: 4px;
      width: 1rem;
    }
  }
}